body {
  font-family: 'Work Sans', sans-serif !important;
  font-weight: 300 !important;
  background: whitesmoke;
 }
 
.jumbotron {
  background: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") center center / cover no-repeat;
  height: 406px;
}

#jumbotron2 {
  background: url("https://images.unsplash.com/photo-1531824475211-72594993ce2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") center center / cover no-repeat;
}

 .jumbotron h1 {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 900 !important;
  color: #f03f35;
 }

 #table, #cms {
  background: white;
}

 #cms {
   padding: 10px 10px 0px 10px;
   margin-bottom: 15px;
 }

 #lead1 {
  font-family: 'Work Sans', sans-serif !important;
  font-size: 25px !important;
  font-weight: bold;
 }

 #lead2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 3s steps(50, end),
    blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: white; }
}